﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OOSPayResult.aspx.cs" Inherits="WebApplication1.OOSPayResult" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblResults1" runat="server" Text="Label" />
        <br /><br />
        <asp:Label ID="lblResults2" runat="server" Text="Label" />
        <br /><br />
        <asp:Label ID="lblResults3" runat="server" Text="Label" />
    </div>
    </form>
</body>
</html>
