﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PayResult.aspx.cs" Inherits="WebApplication1.Success" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div><b>Gelen Yanıt</b> <i>(mdStatus)</i>
            <br />
            <asp:TextBox ID="txtmdResult" TextMode="MultiLine" Width="100%" runat="server" />
            <br />
            <br />
            <b>Gelen Yanıt</b> <i>(all)</i>
            <br />
            <asp:TextBox ID="txtResults" TextMode="MultiLine" Width="100%" Height="300" runat="server" />
        </div>

    </form>
</body>
</html>
